{
  "twitch_channels": ["channelName"],
  "discord_integration": {
    "enabled": false,
    "webhook": "",
    "log_interval": 1000,
    "subscriber_badge": {
      "enabled": true,
      "emoji": "💸"
    }
  },
  "local_files": {
    "enabled": true,
    "cache_emotes": true,
    "log_interval": 5000
  },
  "open_vr_notification_pipe": {
    "enabled": false,
    "port": 8077
  }
}